@page
@model VehiculosTransporte.App.Frontend.Pages.DetallesConductoresModel
@{
}
<h1> Detalles Conductor</h1>

<div>
    Id: @Model.conductor.Id
</div>
<div>
    Nombres: @Model.conductor.Nombres
</div>
<div>
    Apellidos: @Model.conductor.Apellidos
</div>
<div>
    Correo: @Model.conductor.Correo
</div>
<div>
    Telefono: @Model.conductor.Telefono
</div>
<a asp-page="./ListaConductores" class="btn-defaulf">Lista de conductores</a>